# Create a new project at https://cloud.livekit.io and create a new API key
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=

# Find the subdomain at the top of your project dashboard
LIVEKIT_API_URL=https://<subdomain>.livekit.cloud
NEXT_PUBLIC_LIVEKIT_WS_URL=wss://<subdomain>.livekit.cloud
